body {
  padding-top: 3.5rem;
  background-color: #15acf3;
}

.todo .jumbotron {
    background: #fff url('../images/iphone.png') bottom right no-repeat;
    background-size: 30%;
    background-position: 80%;
}

.todo .jumbotron h1 {
    max-width: 530px;
}

.todo .jumbotron .btn {
    background-color: #0bd202;
    color: #fff;
}

.todo .col-md-4 h2,
.todo .col-md-4 > p {
    color: #fff;
    text-align: center;
}

@media(max-width: 1350px) {
.todo .jumbotron {
        background-size: 40%;
        background-position: 90%;
    }
}

@media(max-width: 990px) {
  .todo .jumbotron {
        padding: 6rem 2rem;
    }

 .todo .jumbotron {
        background-size: 50%;
        background-position: 100%;
    }
    
  .todo .jumbotron h1 {
    max-width: 350px;
  }
}

@media(max-width: 760px) {
   .todo .jumbotron {
     background-image: none;
   }
}


@media(min-width: 576px) {
    .jumbotron {
        padding: 8rem 2rem;
    }
}
